#  Commands ran on Amazon Linux 2 (or Linux 2023 - very by spinning up EC2 instance with that linux ver #)

#packages:
#  yum:
#    amazon-linux-extras: []

#commands:
#  01_postgres_activate:
#      command: sudo amazon-linux-extras enable postgresql14
#  02_postgres_install:
#      command: sudo yum install -y postgresql-server