#  path:  .ebextensions/01_postgres_client.config

#packages:
#  yum:
#    https://download.postgresql.org/pub/repos/yum/reporpms/EL-7-x86_64/pgdg-redhat-repo-latest.noarch.rpm: []

#commands:
#  01_remove_existing_postgresql_clients:
#    command: sudo yum -y remove postgresql*

#  02_install_postgres_repo:
#    command: sudo yum install -y https://download.postgresql.org/pub/repos/yum/16/redhat/rhel-7-x86_64/pgdg-redhat-repo-latest.noarch.rpm

#  03_install_postgresql16_client:
#    command: sudo yum install -y postgresql16